provider "gitlab" {
    token = var.gitlab_token
}

locals {
    workspace_name_project_names = {
        %{ for workspace in workspaces ~} 
        ${workspace.name}: "${workspace.vcs.account}"
        %{ endfor ~}
    }
}
