terraform {
  required_version = "~> 1.5"

  required_providers {
    env0 = {
      source  = "env0/env0"
      version = "~> 1.18.12"
    }
    gitlab = {
      source = "gitlabhq/gitlab"
      version = "17.2.0"
    }
  }
}

provider "env0" {
  api_key = var.env0_api_key
  api_secret = var.env0_api_secret
}
